.bpm-range {
  min-width: 250px!important;
  width: 100%!important;
}
.btn-play {
  width: auto!important;
  min-width: 80px;
}
.timeline-controller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.bpm-controller {
  flex: 1 1;
  align-self: stretch;
  justify-self: stretch;
}
